
/* 50% with on XL/L, 75 on M, 90 on S */

.main-app-body {
  width: 90%;
  margin-top: 150px;

  /* Centered */
  margin-left: auto;
  margin-right: auto;

}

@media (min-width: 768px) {
  .main-app-body {
    width: 75% !important;
  }
}

@media (min-width: 1000px) {
  .main-app-body {
    width: 50% !important;
  }
}

.centered-submit-button {
  margin-top: 25px;
  display: flex;
  justify-content: left;
  align-items: center;
}